<h1><%= @year %></h1>
<%= link_to('Edycja roku', edit_month_path(:year)) %>
<ul>
  <li><a href="/months/1">Styczeń</a></li>
  <li><a href="/months/2">Luty</a></li>
  <li><a href="/months/3">Marzec</a></li>
  <li><a href="/months/4">Kwiecień</a></li>
  <li><a href="/months/5">Maj</a></li>
  <li><a href="/months/6">Czerwiec</a></li>
  <li><a href="/months/7">Lipiec</a></li>
  <li><a href="/months/8">Sierpień</a></li>
  <li><a href="/months/9">Wrzesień</a></li>
  <li><a href="/months/10">Październik</a></li>
  <li><a href="/months/11">Listopad</a></li>
  <li><a href="/months/12">Grudzień</a></li>
</ul>
